@media screen and (max-width:1400px){
   #Profile{
    height: 83vh;
    margin-bottom: 6rem;
    margin: 0;
    padding: 0;
   }
   .about-containers{
    flex-wrap: wrap;
    margin-bottom: 5rem;

   }
}
@media screen and (max-width:600px){
    #contact, footer{
        margin: 0;
        padding: 0;
        height: 40vh;
    }
    #Profile{
        height: 83vh;
        margin-bottom: 0;
    }
    #About{
        margin-top: 5rem;
        margin-left: 7rem;
    }
    #Experience{
        margin-top: 5rem;
        margin-left: 5rem;
    }
    #Projects{
        margin-top: 5rem;
        margin-left: 0.8rem;
    }
    #Contact{
        margin-top: 5rem;
        margin-left: 2.5rem;
    }
    #contact-info-upper-container{
        margin-left: 0%;
    }
    #Contact h1{
        margin-left:7rem;
        font-size: 1rem;
    }
    #title h1{
        margin-left: 0;
    }
    .contact-info-container{
        margin: 0;
        padding: 0;
    }
    article{
        font-size: 1rem;
    }
    footer nav{
        height: fit-content;
        margin-bottom: 2rem;

    }
    .about-containers, .contact-info-upper-container, .btn-container{
        flex-wrap: wrap;
        width: fit-content;
        margin-left:5%;
    }
    .contact-info-container{
        margin: 0;
        padding: auto;
    }
    .contact-info-container p, .nav-links li a{
        margin: 0;
        padding-left: 0;
        font-size: 1rem;
    }
    #gettouch{
        padding-top: 10;
        margin-left: 7rem;
        font-size: 0.6rem;
    }
    .experience-sub-title{
        font-size: 1.25rem;
    }
    .logo{
        font-size: 1.5rem;
    }
    .nav-links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section_pic-container{
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section_text_p2{
        font-size: 1.25rem;
    }
    .title{
        font-size: 2rem;
    }
    .text-container{
        text-align: justify;
        margin-left: -5rem;
        margin-right: -8rem;
    }
}

@media screen and (max-width:1200px){
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    #Experience, .experience-details-container{
        margin-top: 2rem;

    }
    #Profile, .section-container{
        display: block;
    }
    .arrow{
        display: none;
    }
    .section,.section-container{
        height: fit-content;
    }
    .section{
        margin: 0;
        padding: 0;
        font-size: 1rem;
    }
    .section_pic-container{
        width: 200px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers{
        margin-top: 0;
    }
}